{% extends "base_generic.html" %}

  {% block morescripts %}
    <script>
    $(document).ready(function() {
      $("#sField").keyup(function(event){
  if(event.keyCode == 13){
      $("#clickMe").click();
  }
  });

    $("#clickMe").on("click", function() {
      let input =  document.getElementById("sField").value;
      let search = "" + input;
      location = {% url 'search' %} + search;
     });

    });


    </script>
    {% block evenmorescripts %}{% endblock %}
  {% endblock %}

{% block content %}
<h1>Moul6Base DJukebox</h1>

  <p>Bienvenue !  içi vous pouvez chercher la chanson que vous souhaitez écouter.</p>

  <div>


  <input type="text" id="sField" placeholder="">

<div class="btn btn-secondary" id="clickMe">Search</div>

  </div>

<p>Sinon, vous pouvez consulter le <a href="{% url 'songs' %}">catalogue</a>.</p>
{% block query %}{% endblock %}
{% endblock %}
